.header {
    background-color: #87CEEB;
    
}
.center {
    margin-bottom: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.containers{
    border: solid 2px;
    background-color: peachpuff;
    border: peachpuff;
    height: 40px;
    width: 77%;
    color:blueviolet;
    font-size: 25px;
    margin-top: 1em;

}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
  }
  .glyphicon{
    color: orange;
  }

  a{
    color: white;
  }