<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jumia|Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Mycart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<header class="header">
    <img src="image jumia2/BAck-to-school-to-strip.gif" class="center">
</header>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="background-color: black">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white;"><b>JUMIA|ONLINE</b></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="mailto:sunshineokoye6@gmail.com">Contact us </a></li>
            </ul>
        </div>
    </nav>
    <center>
        <div class="container">
            <h1><span class="glyphicon glyphicon-shopping-cart" style="color: orange;"></span>
                <b>MY<span>CART</span></b></h1>
        </div>
    </center>

    <div class="container">
        <div class="row">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Item</th>
                        <th>Qauntity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="image jumia2/5.jpg" style="width: 60px; height: 60px"></td>
                        <td>Vintage Shirt</td>
                        <td>2</td>
                        <td>$60.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="image jumia2/1.jpg" style="width: 60px; height: 60px;"></td>
                        <td>Fingeprint Touch Bluetooth</td>
                        <td>4</td>
                        <td>$20.00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="image jumia2/4.jpg" style="width: 60px; height: 60px"></td>
                        <td>Smart Phone Watch water Resistant</td>
                        <td>3</td>
                        <td>$3,000.00</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="image jumia2/30.jpg" style="width: 60px; height: 60px"></td>
                        <td>NIVEA Perfect and Radiant</td>
                        <td>5</td>
                        <td>$25.00</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><img src="image jumia2/12.jpg" style="width: 60px; height: 60px"></td>
                        <td>Jameson Irish Whisky</td>
                        <td>1</td>
                        <td>$9.00</td>
                    </tr>

                </tbody>
                <tfoot>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total= $3,114.00</td>
                </tfoot>
            </table>

        </div>

    </div>


    <div class="container text-center" style="border: solid 1.5px #ffEbf7; background-color: #ffEbf7; margin-top: 20px;">
      
        <h1 style="color:red ;"><b> Top Deals | Free Delivery</b></h1>
     
    </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <img src="image jumia2/30.jpg" style="width: 150px; height: 150px"> NIVEA Perfect and Radiant<br>
            $5.00<br><s style="font-size: 12px">$7.00</s>
          </div>
          <div class="col-sm-2">
            <img src="image jumia2/31.jpg" style="width: 150px; height: 150px"> UMIDIGI A11 (3GB,64GB)<br>
            $700.00<br><s style="font-size: 12px">$950.00</s>
          </div>
          <div class="col-sm-2">
            <img src="image jumia2/32.jpg" style="width: 150px; height: 150px">Infinix Smart Phone, 64GB
            <br>$600<br><s style="font-size: 12px">$800.00</s>
          </div>
          <div class="col-sm-2">
            <img src="image jumia2/33.jpg" style="width: 150px; height: 150px">Nestle Milo Milo Hot Chocolate
            <br>$15.00<br><s style="font-size: 12px">$20.00</s>
          </div>
          <div class="col-sm-2">
            <img src="image jumia2/34.jpg" style="width: 150px; height: 150px">Latest Men Sneakers
            -Black<br>$30.00<br><s style="font-size: 12px">$35.00</s>
          </div>
          <div class="col-sm-2" style="margin-bottom: 5em;">
            <img src="image jumia2/35.jpg" style="width: 150px; height: 150px">T&G Wireless Bluetooth Speaker
            <br>$20.00<br><s style="font-size: 12px">$23.00</s>
          </div>
        </div>
      </div>

    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-sm-2">
                <img src="image jumia2/12.jpg" style="width: 150px; height: 150px">Jameson Irish Whisky<br> $9.00 <br><s
                    style="font-size: 12px">$15.00</s>
            </div>
            <div class="col-sm-2">
                <img src="image jumia2/13.jpg" style="width: 150px; height: 150px"> Techno Sonic 1 Fireboy<br> $700.00
                <br><s style="font-size: 12px">$900.00</s>
            </div>
            <div class="col-sm-2">
                <img src="image jumia2/14.jpg" style="width: 150px; height: 150px"> XIAOMI Poco C40, 4GB<br> $2000.00
                <br><s style="font-size: 12px">$3000.00</s>
            </div>
            <div class="col-sm-2">
                <img src="image jumia2/15.jpg" style="width: 150px; height: 150px"> Costa Sardin in Vegetable<br> $2.00
                <br><s style="font-size: 12px">$3.00</s>
            </div>
            <div class="col-sm-2">
                <img src="image jumia2/16.jpg" style="width: 150px; height: 150px"> Knoor Chicken Seasoning<br> $1.50
                <br><s style="font-size: 12px">$2.00</s>
            </div>
            <div class="col-sm-2">
                <img src="image jumia2/17.jpg" style="width: 150px; height: 150px"> Fingeprint Touch Blootooth<br>
                $200.00
                <br><s style="font-size: 12px">$250.00</s>
            </div>
        </div>
    </div>



    <footer>
        <div class="container-fluid" style="background-color: black;">

            <div class="row">
                <div class="col-sm-3">
                    <h1 style="color:orange ;"><b>JUMIA|ONLINE</b></h1>
                </div>


                <div class="col-sm-6">
                    <p style="color:white; margin-top: 3em ;">New to Jumia?<br>
                        Subscribe to our newsletter to get updates on our latest offers!</b></p>
                    <input type="text" class="form-control" id="usr" placeholder="Enter E-mail Address"
                        style="width: 50%;">
                    <label class="radio-inline" style="color:white; margin-top: 1em ; margin-bottom: 1em ;"><input
                            type="radio" name="male-female" checked>Male</label>
                    <label class="radio-inline" style="color:white; margin-top: 1em; margin-bottom: 1em ;"><input
                            type="radio" name="male-female">Female</label>
                </div>
                <div class="col-sm-3">
                    <p style="color:white; margin-top: 3em ;"><span class="glyphicon glyphicon-download"></span>
                        DOWNLOAD JUMIA
                        FREE APP<br>
                        Get access to exclusive offers!</li>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #343434;">
            <div class="row" style="margin: 10px;">
                <div class="col-sm-3">
                    <p style="color:white ; margin-top: 3em ;">LET US HELP YOU</p>
                    <p style="color:white ;">Help center <br> How to shop on Jumia? <br> Delivery options and
                        timelines?<br> How to return product on
                        Jumia?<br> Coperate and bulk purchases? <br>Report a product?<br> Ship your package anywhere in
                        Nigeria </p>
                </div>
                <div class="col-sm-3">
                    <p style="color:white ; margin-top: 3em ;">ABOUT JUMIA</p>
                    <p style="color:white ;"> <a href="About.html">About us</a><br> Jumia careers<br> Jumia express<br>
                        Terms and conditions<br> Privacy policy<br> Jumia
                        prime<br> Jumia global<br> Flash sales</p>
                </div>
                <div class="col-sm-3">
                    <p style="color:white ; margin-top: 3em ;">MAKE MONEY WITH JUMIA</p>
                    <p style="color:white ;"> Sell on jumia<br> Become a sales consultant<br> Become a jumia vendor
                        service provider<br>Become a
                        logistics service partner <br> Join the Jumia DA academy <br> Join jumia KOL Nigeria</p>
                </div>
                <div class="col-sm-3">
                    <p style="color:white ; margin-top: 3em ;">JUMIA INTERNATIONAL</p>
                    <p style="color:white">Algeria<br> Egypt<br> Ghana<br> Kenya<br> Senegal<br> Uganda<br> South Africa
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #343434;">
            <div class="row">
               <center>
                    <!-- Add font awesome icons -->
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="google.com" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </center>

                
            </div>
        </div>
    </footer>

</body>



</html>