.time {

    border: solid 2px;
    background-color: red;
    border: red;
    height: 40px;
    width: 100%;
    color: white;
    /* margin: 3rem; */
}

.header {
    background-color: #87CEEB;
}

.center {
    margin-bottom: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.right {
    margin: 36rem;
    font-size: 28px;
    font-weight: 100em;
    color: white;
}

.containers{
    border: solid 2px;
    background-color: #ffEbf7;
    border: #ffEbf7;
    height: 45px;
    width: 75%;
    color:black;
    font-size: 25px;
    margin: 3rem;
    margin-bottom: 0.5em;
}

.cont{
    border: solid 2px;
    background-color: #ffEbf7;
    border: #ffEbf7;
    height: 55px;
    width: 76%;
    color:black;
    font-size: 20px;
    margin-top: 0.5em;
    text-align: left;
    margin-bottom: 0.5em;
}
a{
    color: black;
}
a:hover{
    color: orange;
    transition: 1s;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white
  }

  .glyphicon{
    color: orange;
  }

  